.container {
  display: flex;
  background-color: bisque;
  justify-content: space-around;
}
.forms {
  border: 1px solid;
  padding: 2.5rem;
}
.general {
  margin: 20mm 25mm 20mm 25mm;
}
.preview {
  min-width: 21cm;
  width: 21cm;
  height: 29.7cm;

  border: 1px solid;
}

.contact div {
  display: flex;
  justify-content: space-between;
}
.education {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 1.2cm;
  margin-bottom: 0;
}
