.container {
  display: flex;
}

.preview {
  width: 21cm;
  height: 29.7cm;
  margin: 30mm 45mm 30mm 45mm;
  background-color: bisque;
  border: 1px solid;
}

.contact div {
  display: flex;
  justify-content: space-between;
}
.education {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 3.2em;
  margin-bottom: 0;
}
@page {
  size: A4;
  margin: 0;
}
