:root {
  font-family: Arial, sans-serif;
  font-weight: 400;
  
  background-color: bisque;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
}
.forms {
  padding: 4rem 2rem 2rem 2rem;
  min-width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.101);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.362);
}
.general {
  margin: 20mm 25mm 20mm 25mm;
}
.preview {
  min-width: 21cm;
  width: 21cm;
  height: 29.7cm;
  border: 1px solid rgba(0, 0, 0, 0.101);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.362);
}
.preview h1 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.contact div {
  display: flex;
  justify-content: space-between;
}
.education {
  display: flex;
  justify-content: space-between;
}

.general-info {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
}

.general-info textarea {
  width: 95%;
  padding: 0.75rem;
  background-color: rgb(255, 228, 196);
  border-radius: 16px;
}

.general-info input {
  width: 95%;
  padding: 0.75rem;
  background-color: rgba(252, 252, 251, 0.526);
  border: none;
  border-radius: 16px;
}

.general-info > div > div {
  margin-bottom: 0.75rem;
}

.forms h1 {
  margin: 1rem 0 0.5rem 0;
  padding: 0.75rem;
  background-color: rgba(217, 156, 51, 0.199);
  border-radius: 16px;
}

.forms h1:hover {
  background-color: rgba(188, 122, 8, 0.546);
}

.forms h1:first-child {
  margin-top: 0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fcc2235c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

